body {
    margin:0;
    padding:0;
    font-family: "Roboto", Arial, sans-serif;
}
header {
    background-color:#eeeeee;
}

a {
    text-decoration:none;
    color:#000000;
}
li {
    list-style-type: none;
}

.nerds-logo:hover{
    opacity:0.8;
}
.nerds-logo:active{
    opacity:0.3;
}
.main-menu-list:hover {
    color:#fb565a;
}
.main-menu-list:active {
    color:#c4c4c4;
}

.main-menu li {
    text-transform:uppercase;
    font-size:16px;
    line-height: 30px;
}


/*окно напишите нам*/
.none {
    display:none;
}

.button-write-us{
    text-transform:uppercase;
    color:#ffffff;
    background-color:#fb565a;
    border:none;
    border-radius: 2px;
    padding:16px 82px;
    font-size: 16px;
    line-height: 18px;
}
.write-us-form {
    text-align: left;
    padding:100px 100px;
    background-color:lightcoral;
}

.write-us-header {
    color:#000000;
    font-size:45px;
    line-height: 45px;
}
.write-us-item{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}





.segment-list h3 {
    text-transform: uppercase;
    font-size:24px;
    line-height:30px;
    font-weight: 700;
}
.segment-list p {
    font-weight: 400;
}

.segment-list a {
    text-transform: uppercase;
    font-weight: 400;
    color:#ffffff;
    padding:19px 40px;
    border-radius: 2px;
}

/*в состоянии наведения opacity у кнопок 100%. но цвет отличается от состояния покоя. воздействовать на изменение цвета не через прозрачность нужно?*/

.segment-order:active{
    opacity:0.3;
}

/* веб-сайты */
.segment-item-wed a {
    background-color:#fb565a;
}
.segment-item-wed {
    background-image:url(../img/illustration-1.jpg);
    background-repeat: no-repeat;
}

/* приложения */
.segment-item-app a {
    background-color:#00ca74;
}
.segment-item-app {
    background-image:url(../img/illustration-2.jpg);
    background-repeat: no-repeat;
}

/* презентации */
.segment-item-presentations a {
    background-color:#efc84a;
}
.segment-item-presentations {
    background-image:url(../img/illustration-3.jpg);
    background-repeat: no-repeat;
}

.about-us h1 {
    font-weight: 700;
    font-size:45px;
    line-height: 45px;
}
.left-col p{
    font-size:16px;
    line-height: 24px;
}
.left-col h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:#000000;
}
.left-col-text-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#283136;
    margin-bottom:39px;
}
.left-col-text-list:nth-child(1){
    margin-top:39px;
}

.right-col > p {
    text-transform: uppercase;
    font-size:16px;
    line-height:24px;
}
.right-col-item-mark {
    font-size:45px;
    line-height: 10px;
    font-weight: 700;
}
.right-col-item-name {
    font-size: 16px;
    line-height: 18px;
}
.super{
    vertical-align: super;
}
.clients img {
    opacity: 0.2;
}
.client-logo:hover {
    opacity:1;
    color:red;
}
.client-logo:active { /*у лого академии цве пропадает почему-то при нажатии, с остальными все ок*/
    opacity:0.1;
}

.address {
    background-image: url(../img/map-and-marker.jpg);
    background-repeat: no-repeat;
    height:416px; /*указатель оказывается вне видимости*/
}

/* как сделать белый фон у адреса на фоне карты не знаю.если указываю цвет фона, то все сдвигается */
.address-details {
    height: 309px;
    width:319px;
    background-color:#ffffff;
    text-align: center;
    padding-top: 59px;
}


.address h2 {
    text-transform: uppercase;
    font-size:18px;
    line-height:30px;
    color:#000000;
}

.address p {
    font-size: 16px;
    line-height: 18px;
    color:#666666;
}
 .address-tel {
    margin-bottom: 40px;
}

.address a {
    text-transform: uppercase;
    background-color:#fb565a;
    color:#ffffff;
    padding:19px 50px;
    border-radius: 2px;
}

.motto {
    font-size: 36px;
    line-height: 36px;
    color:#000000;
}
.special-offer {
    font-size: 16px;
    line-height: 22px;
    color:#444444;
}


/*иконки не совсем по центру*/
.social-icon {
    width:78px;
    height: 78px;
    border-radius:50px;
    background-color:#e1e1e1;
    text-align: center;
    line-height: 78px;
}

.social-list a {
    background-color:#e1e1e1;
}

/*как-то инвалидно получилось*/
.social-img:hover,
.social-icon:hover{
    background-color: #e74246;
}

.social-button-list {
    display:flex;
}


/*inner-page*/
fieldset {
    border:none;
}

.button-filter-show {
    color:#000000;
    background-color:#eeeeee;
    padding:19px 89px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    border:none;
    border-radius: 2px;
    font-weight: bold;
}

.button-one,
.button-two,
.button-three {
    color:#000000;
    background-color: #eeeeee;
    padding:16px 16px;
    height: 44px;
    width: 44px;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    border-radius: 2px;
    font-weight: bold;
}

.button-next {
    text-transform: uppercase;
    color:#000000;
    font-size: 16px;
    line-height: 18px;
    background-color: #eeeeee;
    padding:16px 79px;
    font-weight: bold;
    border-radius: 2px;
    width:260px;
    text-align: center;
}
/*наведение*/
.button-one:hover,
.button-two:hover,
.button-three:hover,
.button-next:hover {
    background-color:#dfdfdf;
}

/*нажатие*/
.button-one:active,
.button-two:active,
.button-three:active,
.button-next:active {
    background-color:#d5d5d5;
    border-top:3px solid #bfbfbf;
}

.filter-name{
    text-transform: uppercase;
    font-weight: bold;
    font-size:19px;
    line-height: 30px;
    color:#000000;
}

.filter-item{
    font-size: 16px;
    line-height: 20px;
    color:#797c7f;
}

.filter-gap{
    margin-bottom:48px;
}

.filter-item:hover {
    color:#283136;
}


