body {
    margin:0;
    padding:0;
    font-family: "Roboto", Arial, sans-serif;
    width: 1440px;
    margin:0 auto;

}

header {
    background-color:#eeeeee;
    margin:0 auto;
    width:1440px;
}

a {
    text-decoration:none;
    color:#000000;
}

/*общие стили*/
.text-option-usual {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.ls-none {
    list-style: none;
}

.button-type {
    font-size:16px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
}



.nerds-logo{
    margin-right: 200px;
}

.nerds-logo:hover{
    opacity:0.8;
}

.nerds-logo:active{
    opacity:0.3;
}

.main-menu-list:hover {
    color:#fb565a;
}

.main-menu-list:active {
    color:#c4c4c4;
}

.main-menu {
    min-height: 65px;
    display: flex;
    padding-top:49px;
    width: 1160px;
}

.navigation-wrapper {
    width:100%;
}

.navigation-container{/*определено не по макету*/
    width:880px;
}

.site-navigation {
    display: flex;
    padding: 0;
}

.navigation-container {
    display: flex;
    justify-content: space-between;
}

.main-menu-list{
    min-height: 69px;
    font-size: 16px;
    line-height: 30px;
    font-weight:bold;
    padding-right:48px;
    text-transform:uppercase;
}

.header-slider {
    height:431px; /*фикс высоту поставила, просто ,чтобы блок был виден*/
    background-color: #eeeeee;
}



/*окно напишите нам*/
/* .none {
    display:none;
} */


.write-us-item input[type="text"],
.write-us-item textarea {
    font: inherit;
    font-weight: 400;
    opacity:0.5;
    border:2px solid #d7dcde;
    border-radius: 2px;
}

.write-us-item input[type="text"]:hover,
.write-us-item textarea:hover {
    font: inherit;
    font-weight: 400;
    opacity:0.5;
    border:2px solid #b4b9bb;
    border-radius: 2px;
}

.write-us-item input[type="text"]:active,
.write-us-item textarea:active {
    font: inherit;
    font-weight: 400;
    opacity:0.5;
    border:2px solid #000000;
    border-radius: 2px;
}

.write-us-item input[type="text"]:invalid,   /*в какой момент проверяется валидность? при вводе эффекта не увидела*/
.write-us-item textarea:invalid {
    font: inherit;
    font-weight: 400;
    opacity:0.5;
    border:2px solid #e74246;
    border-radius: 2px;
    color:#e74246;
}

.write-us-send {
    color:#ffffff;
    background-color:#fb565a;
    border:none;
    border-radius: 2px;
    padding:16px 82px;
}

.write-us-form {
    text-align: left;
    padding:100px 100px;
    background-color:lightcoral;
}

.write-us-header {
    color:#000000;
    font-size:45px;
    line-height: 45px;
}
.write-us-item {
    font-weight: bold;
}




ul.segment-list{
    padding:0;
}
.segment-item-head {
    text-transform: uppercase;
    font-size:24px;
    line-height:30px;
    font-weight: 700;
}

.segment-order {
    color:#ffffff;
    padding:19px 20px;
    border-radius: 2px;
    margin-top:38px;
    display:block;
    width:160px;
    text-align: center;
}


/*в состоянии наведения opacity у кнопок 100%. но цвет отличается от состояния покоя. воздействовать на изменение цвета не через прозрачность нужно?*/

.segment-order:active{
    opacity:0.3;
}

.segment-list {
    display: flex;
    min-height: 507px;
    justify-content: space-between;
    width:1140px;
}

ul.segment-list{
    margin:0;
    margin-top:80px;
}

.segment-list-item {
    max-width: 300px;
    padding-top:146px;
}




/* веб-сайты */
.segment-item-wed .segment-order {
    background-color:#fb565a;
}

.segment-item-wed {
    background-image:url(../img/illustration-1.jpg);
    background-repeat: no-repeat;
}

/* приложения */
.segment-item-app .segment-order {
    background-color:#00ca74;
}

.segment-item-app {
    background-image:url(../img/illustration-2.jpg);
    background-repeat: no-repeat;
}

/* презентации */

.segments {
    min-width:1100px;
}

.segment-item-presentations .segment-order {
    background-color:#efc84a;
}

.segment-item-presentations {
    background-image:url(../img/illustration-3.jpg);
    background-repeat: no-repeat;
}

.about-us,
.main-menu,
.segments,
.clients{
    margin-left:140px;
}

.about-us,
.clients,
.main-menu,
.footer-container,
.header {
    width:1160px;
}

.about-us {
    margin-bottom:76px;
}

.about-us-container{
    display: flex;
    justify-content: space-between;
}
.about-us h1 {
    font-weight: 700;
    font-size:45px;
    line-height: 45px;
}

.left-col {
    width: 70%;
    margin-right: 140px;
}

.left-col-list {
    margin-top:29px;
}

.left-col p{
    font-size:16px;
    line-height: 24px;
}

.left-col h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color:#000000;
}

.left-col-text-list{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#283136;
    margin-bottom:39px;
}

.left-col-text-list:nth-child(1){
    margin-top:39px;
}


.right-col-list {  /* там где цифры в процентах последняя колонка какая-то растянутая из-за p внутри?*/
    display: flex;
    padding-left: 0;
    justify-content: space-between;
}
.right-col-text {
    text-transform: uppercase;
    font-size:16px;
    line-height:24px;
    font-weight: 700;
}

.right-col-item-mark {
    font-size:45px;
    line-height: 10px;
    font-weight: 700;
    margin-right: 20px;
}

.super{
    vertical-align: super;
}

.clients {
    border-top:2px solid #eeeeee;
    border-bottom:2px solid #eeeeee;
    padding-top:37px;
    padding-bottom: 37px;
    margin-bottom:80px;
}

.clients img {
    opacity: 0.2;
}

.client-logo:hover {
    opacity:1;
    color:red;
}

.client-logo:active { /*у лого академии цве пропадает почему-то при нажатии, с остальными все ок*/
    opacity:0.1;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    padding-left:0;
}

.address {   /*карта должна каким-то образом упираться в края?*/
    background-image: url(../img/map-and-marker.jpg);
    background-repeat: no-repeat;
    min-height:416px;
    width:100%;
    background-position: center;
}

.address-details {
    padding:54px 77px 40px 50px;
    background-color:#ffffff;
    text-align: center;
    width:319px;
    min-height:309px;
}

.address h2 {
    text-transform: uppercase;
    font-size:18px;
    line-height:30px;
    color:#000000;
}

.address p {
    color:#666666;
}

 .address-tel {
    margin-bottom: 40px;
}

.address a {
    text-transform: uppercase;
    background-color:#fb565a;
    color:#ffffff;
    padding:19px 50px;
    border-radius: 2px;
}

.motto {
    font-size: 36px;
    line-height: 36px;
    color:#000000;
}

.special-offer {
    font-size: 16px;
    line-height: 22px;
    color:#444444;
}


/*иконки не совсем по центру*/
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width:78px;
    height: 78px;
}

 .social-icon {
    border-radius:50%;
    background-color:#e1e1e1;
    width:78px;
    height: 78px;
    margin-right: 12px;
}


.social-img:hover,
.social-icon:hover{
    background-color: #e74246;
}

.social-list {
    display:flex;
    justify-content: space-between;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.footer-text{
    display: flex;
    flex-direction: column;
    margin-left:140px;
}

/*inner-page*/
fieldset {
    border:none;
}

.inner-page.main-menu-list {
    padding-right: 0;
}

.button-filter-show {
    color:#000000;
    background-color:#eeeeee;
    padding:19px 89px;
    text-transform: uppercase;
    border:none;
    border-radius: 2px;
    font-weight: bold;
}

.button-one,
.button-two,
.button-three {
    color:#000000;
    background-color: #eeeeee;
    padding:16px 16px;
    height: 44px;
    width: 44px;
    text-align: center;
    vertical-align: middle;
    line-height: 44px;
    border-radius: 2px;
    font-weight: bold;
    margin-right: 11px;
}

.button-next {
    text-transform: uppercase;
    color:#000000;
    background-color: #eeeeee;
    padding:16px 79px;
    font-weight: bold;
    border-radius: 2px;
    width:260px;
    text-align: center;
    height: 44px;
}

/*наведение*/
.button-one:hover,
.button-two:hover,
.button-three:hover,
.button-next:hover {
    background-color:#dfdfdf;
}

/*нажатие*/
.button-one:active,
.button-two:active,
.button-three:active,
.button-next:active {
    background-color:#d5d5d5;
    border-top:3px solid #bfbfbf;
}

.sort-name{
    text-transform: uppercase;
    font-weight: bold;
    font-size:19px;
    line-height: 30px;
    color:#000000;
}


.filter-container{
    margin-right: 100px; /*отступ не по макету, т.к. еще не выяснила причину почему по макету не влезает*/
}

.filter-item{
    font-size: 16px;
    line-height: 20px;
    color:#797c7f;
}


.filter-item:hover {
    color:#283136;
}

.inner-header{
    font-size: 55px;
    line-height: 55px;
    height:242px; /*фикс высоту поставила, просто ,чтобы блок был виден*/
    background-color: #eeeeee;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
    padding-left:360px;
}

.sort-type {
    font-size:14px;
    line-height: 18px;
    color:#cacaca;
    padding-left:0;
    margin-right: 0;
    text-transform: uppercase;
}


a.sort-type:hover{
    color:#8d8d8d;
}

a.sort-type:active{
    color:#000000;
}

.main-wrapper {
    display: flex;
    width: 1160px;
    margin: auto;
}

.examples-container {
    display: flex;
    flex-wrap: wrap;
}

.button-list {
    display: flex;
}

.example-item{
    margin-right: 40px;
    margin-bottom: 33px;
}

.filter-gap{
    margin:0;
    padding: 0;
    margin-bottom:45px;
}

.inner-page header {
    margin-bottom:58px;
}

.sort-list {
    padding-left:0;
    margin-left:0;
}

